# Scarlet: 0100A3D008C5C000
# Violet : 01008F6008C5E000
set(TITLE_ID 0100A3D008C5C000)
set(GAME_VERSION 010000)  # 1.0.0 as hex

# Set mod name
set(MOD_NAME "MyScarletMod")

# IP for logging
set(LOGGER_IP 192.168.1.1)
set(LOGGER_PORT 3080)

# Switch IP for FTP
set(FTP_IP 192.168.1.1)
set(FTP_PORT 5000)
set(FTP_USER abcd)
set(FTP_PASS xyz123)
